@charset "UTF-8";
/* CSS Document */

*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
	line-height: 1.4;
	font-family:'Zilla Slab', serif;
	
}
.container{
	max-width: 100%;
	margin: auto;
	overflow: hidden;
	padding: 10%;
}
.showcase{
	background-color:rgba(123,84,187,0.8);
	color: white;
	height: 100vh;
	position: relative;
    
}
.showcase:before{
	content:"";
	background: url("images/spiral-background-from-purple-curved-rays-vector.jpg") no-repeat center center/cover;
	position:absolute;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
	z-index:-1;
}
.showcase .showcase-inner{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}
.showcase img{
	width: 100%;
	
}
.showcase p{
	font-size: 1.9rem;
}
.showcase h1{
	margin-top:3%;
	margin-bottom: 2%;
	font-size: 2.5rem;
	font-family: 'Berkshire Swash', cursive;
}

.showcase .name{
 font-size:2.2rem;
	font-family: 'Dancing Script', cursive;
}

.btn {
	display: inline-block;
	background: url("images/redbutton2.png") no-repeat center ;
	color:white; 
    padding: 15%;
	margin-top:10%;
	text-decoration:none;
	font-size: 1.3rem;
	transition: opacity .5s ease;
	transform:rotateY(2);
	
}
.btn:hover{
   opacity: .9;
   transform:rotate(180deg);
	
}
.showcase-inner .button{
	font-size: 1.4rem;
}


/* menu*/

.menu-wrap{
	position:fixed;
	top:0;
	left:0;
	z-index: 1; 

}

.menu-wrap .toggler{
	position: absolute;
	top:0;
	left:0;
	z-index:2;
	cursor: pointer;
	width:50px;
	height:50px;
	opacity: 0;
	
}
.menu-wrap .hamburger{
	position: absolute;
	top:0;
	left: 0;
	z-index:1;
	width:60px;
	height:60px;
	padding:1rem;
	background-color:rgba(185,100,179,1.00);
	display: flex;
	align-items: center;
	justify-content: center;
}
/* hamburger line*/


.menu-wrap .hamburger > div {
	position: relative;
	width:100%;
	height: 2px;
	background-color:  #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
	
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
	content: '';
	position: absolute;
	z-index:1;
	top:-10px;
	width:100%;
	height: 2px;
	background: inherit;
	
}
.menu-wrap .hamburger > div:after{
top:10px;
}
/* toggler animate*/
.menu-wrap .toggler:checked + .hamburger > div{
	transform: rotate(135deg);
}
/* turn lines into X*/
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
	
	top:0;
	transform: rotate(90deg);	
	
}
.menu-wrap .toggler:checked:hover + .hamburger > div{
	transform: rotate(225deg);
}

/* show menu*/


.menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
} 
.menu-wrap .toggler:checked ~ .menu > div{
	transform: scale(1.2);
	tranistion-duration: 2s;
}
.menu-wrap .toggler:checked ~ .menu > div > div{
	opacity: 1;
	transition: opacity 0.4s ease;
}

.menu-wrap .menu{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height:100%; 
	overflow:hidden;
	display: center;
	justify-content: center;
	visibility: hidden;
}
.menu-wrap .menu > div {
	background: url( " images/red%3Awhiteswirl.png") no-repeat center ;
	width: 100%;
	height: 100vh;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition:  all 0.4s ease;
	
	}
.menu-wrap .menu > div > div{
	text-align: center;
	max-width: 100%;
	max-height:100vh;
	background-color:rgba(241,237,237,0.9);
	border-radius: 20%;
	transition: opacity 0.4s ease;

}

.menu-wrap .menu >div > div> ul > li{
	list-style: none;
	color:#CCB130;
	font-size: 3rem;
	padding:1rem;
	font-family:'Berkshire Swash', cursive;
	
}
.menu-wrap .menu > div > div > ul > li > a{
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
	transition: opacity 0.4s ease;
	
}
.menu-wrap .menu > div > div > ul > li > a:hover{
	opacity: .8;
	color:rgba(122,34,177,1.00);
}

footer{
	background-color:rgba(183,93,175,1.00);
	padding: 20px;
	margin-top: 10px;
	color: white;
	border-top: 7px solid #CCB130;
}
footer ul{
	list-style-type:none;
	
}
footer ul li{
	display:block; 
	text-align: center;
	font-size: 1.5rem;
}


aside{
	visibility: hidden;
	margin-top:-70px;
}

/*section*/

section {
	background-color:#CCB130;
    margin-top:-10px;

}

h2{
	border: double 9px  #F1EEDA;
	font-size:4rem;
	text-align: center;
	font-family: 'Berkshire Swash', cursive;
	padding: 3px;
	margin-top:10px;
	color:white;
	text-shadow: 2px 6px 4px #404040;
	padding-bottom: 2%;

}

.img{

	position: relative;
	width:100%;
}
.image{
	display: block;
	width: 100%;
	
}
figcaption{
	text-align: center;
	font-size: 2rem;
	font-family:'Berkshire Swash', cursive;
	padding-top:2%;
	color: white;

}
.img_overlay{
	position: absolute;
	top:0;
	left:0;
	right:0;
	width: 100%;
	height: 87%;
	background: rgba(0,0,0,0.6);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.3s;
}
.img_overlay >*{
	transform: translateY(20px);
	transition: transform 0.3s
}
.img_overlay:hover >*{
	transform: translateY(0);
}
.img_overlay:hover {
	opacity: 1;
}
.img_title{
	font-size: 2.2rem;
	
}
.img_description{
	font-size: 1.6rem;
}

.caption .description{
	padding:1% 8%;
	font-size: 1.4rem;
	
}


.img_ticket{
	width: 100%;
	padding: 4%;
	margin-top: 3%;
	
}

	
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.7rem;
  transition: 0.5s ease;
  font-family: 'Berkshire Swash', cursive;
}
.active, .accordion:hover {
  background-color:rgba(195,175,40,1.00); 
}
.panel {
  padding: 0 10% 10%;
  display: none;
  overflow: hidden;

background: rgb(171,128,32);
background: linear-gradient(356deg, rgba(171,128,32,0.7587822014051522) 0%, rgba(255,206,0,0.44496487119437944) 100%);
}

.panel p  {
	font-size:1.4rem;
	text-indent: 10%;
	
}
.panel h3{
	font-size: 2rem;
	text-align: center;
	margin-top:5%;
	margin-bottom:5%;
	color:rgba(138,22,209,1.00);
	text-decoration: underline;
}

.btn3 {
	display: inline-block;
	border: none;
	border-radius:1rem;
	background-color: white;
	color:rgba(125,78,120,1.00);
	padding: 1%;
	margin-bottom:10%;
	text-decoration:none;
	font-size: 1rem;
	font-weight:bold;
	margin-left: 45%;
	transition: opacity .5s ease-in;
}
.btn3:hover{
	opacity: 0.6;
}



/*@media (max-width: 1000px) and (min-width: 726px)
phones:320-767
tablets: 768-1023
desktop: 1024+ */

/* tablets*/
@media (min-width: 768px) and (max-width:1023px){
	
	.btn{
		margin-top:-4%;
	
	}
	.showcase-inner .button{
		margin-top:-7%;
	}
section{
		background-color:white;
		margin-top: 3px;
	}
section h2{
		background-color:#CCB130;
		padding: 1%;
		margin-top:-2px; 
		width: 100%;
	}


figcaption{
		font-size:1.6rem;
		color:#CCB130;
		padding: 4%;
	}
	
	
footer{
	clear: both;
	}

	
.showcase img{
	width: 50%;
	
}
.showcase p{
		font-size: 2.4rem;
	}
.showcase h1{
		font-size: 3rem;
	}

.img{
		width: 49.99%;
		float: left;
	}
	
.img_overlay{
		height: 82%;
	}
	
	
.btn2 {
	display: inline-block;
	border: none;
	border-radius:2rem;
	background-color:rgba(190,176,43,1.00);
	color:rgba(125,78,120,1.00);
	padding: 2%;
	margin-bottom:10%;
	text-decoration:none;
	font-size: 1rem;
	font-weight: bolder;
	transition: opacity .5s ease-in;
}
.btn2:hover{
	opacity: 0.6;
}

.caption{
	display: none;
	}
	

 .img_ticket{
	        border-radius: 5%;
			border-top: 20px  double #CCB130;
			border-left: 20px double  #CCB130;
			border-right: 20px double #CCB130;
		    border-bottom: 20px double #CCB130;
	        width: 80%;
	        margin-left: 10%;
	}
	
.panel h3{
	font-size: 2rem;
	text-align: center;
	margin-top:5%;
	margin-bottom: -5%;
}
.panel p{
	font-size: 1.4;
	padding-top:10%;
	margin-bottom: -10%;
	text-indent: 6%;
	}



}
/*Desktop*/


@media (min-width:1024px){


	
	
footer{
	clear: both;
	    border-top: 7px solid #CCB130;
	}
footer ul{
		text-align: center;
	}
footer ul li{
		font-size: 1.2rem;
		display: inline;
		text-align: center;
	}
	
	
.showcase{
	margin-top:100px;
}
	
.showcase img{
	width:50%;

}
		
.showcase p{
		font-size: 1.8rem;
	}
.showcase h1{
		font-family: 'Berkshire Swash', cursive;
		font-size: 3rem;
	}
.btn{
		margin-top:-5%;
	}
	.showcase-inner .button{
		margin-top:-10%;
	}
	
nav{
	width:100%;
	visibility: visible;
	background-color:#B864B3;
	position: fixed;
	top: 0;
	left:0;
	z-index: 1;
	
	}


 nav ul{
	list-style-type: none;
	text-align: center;
	padding:1.1%;
	visibility: visible;

}

 nav ul li{
	display: inline;
	color: #EFEFEF;
	padding: 8%;
	font-size: 1.55rem;
    font-family:  'Berkshire Swash', cursive;
	letter-spacing: 3px;
	visibility: visible;

	}
nav ul li a{
		list-style-type: none;
		text-decoration: none;
	    color: #EFEFEF;
		transition: color 0.4s ease;
	    transition: opacity 0.4s ease;
	}

	nav ul li a:hover {
		opacity: .8;
	color:rgba(122,34,177,.80);
	}
	
.img{
	float: left;
    width:33%;
	padding: 1%;
    border-right: 3px dotted  #CCB130;
    border-left: 3px dotted  #CCB130;
    border-bottom: 3px dotted #CCB130;
    overflow: hidden;
   
	}
	

figcaption{
		font-size:1.6rem;
		color:#CCB130;
	}
	
		
.btn2 {
	width: 30%;
	display: inline-block;
	background-color:#CCB130;
	color:black;
	padding: 2%;
	margin-top:1rem;
	text-decoration:none;
	font-size: 1.2rem;
	transition: opacity .9s ease;
 }
 .btn2:hover{
	opacity: 0.8;
}

.caption{
	display: none;
	}
.img_overlay{
		height: 100%;
	}


 .img_ticket{
	      border-radius: 5%;
	       margin-top:6%;
			border-top: 20px  double #CCB130;
			border-left: 20px double  #CCB130;
			border-right: 20px double #CCB130;
		    border-bottom: 20px double #CCB130;
	        width: 70%;
	        margin-left: 15%;
	}
	

	.panel h3{
	font-size: 2rem;
	text-align: center;
	margin-top:3%;
	padding: 0;
}
.panel p{
		font-size: 1.4;
		column-count: 3;
	    text-indent: 10%;
	}

	
}
